body{
    margin: 0;
    padding: 0;
    background: #2c2c2c;
}

aside{
    display: flex;
    align-items: center;
    flex-direction: column;
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    border-radius: 0px 50px 50px 0px;
}

.logos_us{
    margin-top: 13px;
}

.navigation{
    margin-top: 50px;
}

aside img{
    width: 60px;
    float: left;
}

aside .logo{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    top: +7px;
}

aside h3{
    margin-top: 50px;
    font-size: 28px;
}

aside ul{
    list-style: none;
}

aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform 1s ease, color 1s ease;
}

aside ul a{
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    transform: scale(1.05);
}

main {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    height: 100vh;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #3a3a3a;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    width: 250px;
}

.card-img {
    max-width: 100%;
    border-radius: 20px;
    transition: transform 2s ease;
}

.card-title {
    color: white;
    transition: transform 2s ease;
}

.btn-primary {
    color: black;
    background-color: white;
    border: none;
    font-weight: 750;
    transition: transform 2s ease, background-color 1s ease;
    text-decoration: none;
}

.btn-primary:hover {
    color: black;
    background-color: #eb5959;
}
